.d1class {
    background-color: orange;
}
.searchbutton {
    background-color: "#21b6ae";
    width: 95%;
    height: 95%;
}
.grid1 {
    padding: 1%;
}
.tablehead {
    background-color: orange;
}
.url {
    color: blue;
    
}